
<div class="container">
    <h1>About Me</h1>
    <div class="intro">
        Hi, I am Ritesh.<br>
        You can check my resume attached below.<br>
        Thanks for viewing the site. I Hope you will like it.<br>
    </div>
    <a href="https://drive.google.com/file/d/16Jhv4-nvpv8ProdzvVbRwfUPm6SMQMTR/view?usp=sharing" target="_blank"><input type="Submit" value="Resume" class="btn"></a>
</div>


