<div class="container">
    <h2>Contact</h2>
    <div class="info">
        <b>Email</b>    :   riteshlavti@gmail.com<br>
        <b>LinkedIn</b> :   <a href="linkedin.com/in/riteshlavti" target="_blank">Ritesh Lavti</a>
    </div>
</div>